# Day 11

In [1]:
import pandas as pd 
from scipy.stats import pointbiserialr
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('general_data.csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [5]:
df.Attrition.replace(to_replace = ('No','Yes'),value = (0,1),inplace = True)

In [25]:
print("Hypothesis 1\n Null hypothesis (H0) = Age and Attrition have no correlation\n Alternate hypothesis (H1) = Age and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.Age)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 1
 Null hypothesis (H0) = Age and attrition have no correlation
 Alternate hypothesis (H1) = Age and attrition have a correlation between them

Correlation Coefficient: -0.15920500686577949    P-Value: 1.996801615887198e-26

Since P-Value is <0.05, We REJECT NULL hypothesis and conclude that There is a Negative Correlation

In [36]:
print("Hypothesis 2\n Null hypothesis (H0) = Distance from home and Attrition have no correlation\n Alternate hypothesis (H1) = Distance from home and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.DistanceFromHome)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 2
 Null hypothesis (H0) = Distance from home and Attrition have no correlation
 Alternate hypothesis (H1) = Distance from home and Attrition have a correlation between them

Correlation Coefficient: -0.009730141010179692    P-Value: 0.5182860428050771
We ACCEPT NULL hypothesis and conclude that there is NO RELATION

In [28]:
print("Hypothesis 3\n Null hypothesis (H0) = Monthly Income and Attrition have no correlation\n Alternate hypothesis (H1) = Monthly Income and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.MonthlyIncome)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 3
 Null hypothesis (H0) = Monthly Income and Attrition have no correlation
 Alternate hypothesis (H1) = Monthly Income and Attrition have a correlation between them

Correlation Coefficient: -0.03117628169811501    P-Value: 0.03842748490600132

Since P-Value is <0.05, We REJECT NULL hypothesis and conclude that There is a Negative Correlation

In [29]:
print("Hypothesis 4\n Null hypothesis (H0) = SalaryHike and Attrition have no correlation\n Alternate hypothesis (H1) = SalaryHike and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.PercentSalaryHike)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 4
 Null hypothesis (H0) = SalaryHike and Attrition have no correlation
 Alternate hypothesis (H1) = SalaryHike and Attrition have a correlation between them

Correlation Coefficient: 0.0325325948910535    P-Value: 0.030743386433355353

Since P-Value is <0.05, We REJECT NULL hypothesis and conclude that ,There is a Positive Correlation

In [30]:
print("Hypothesis 5\n Null hypothesis (H0) = TrainingTimesLastYear and Attrition have no correlation\n Alternate hypothesis (H1) = TrainingTimesLastYear and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.TrainingTimesLastYear)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 5
 Null hypothesis (H0) = TrainingTimesLastYear and Attrition have no correlation
 Alternate hypothesis (H1) = TrainingTimesLastYear and Attrition have a correlation between them

Correlation Coefficient: -0.049430576244254974    P-Value: 0.0010247061915365072

Since P-Value is <0.05, We REJECT NULL hypothesis and conclude that There is a Negative Correlation

In [32]:
print("Hypothesis 6\n Null hypothesis (H0) = YearsAtCompany and Attrition have no correlation\n Alternate hypothesis (H1) = YearsAtCompany and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.YearsAtCompany)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 6
 Null hypothesis (H0) = YearsAtCompany and Attrition have no correlation
 Alternate hypothesis (H1) = YearsAtCompany and Attrition have a correlation between them

Correlation Coefficient: -0.13439221398997717    P-Value: 3.1638831224877484e-19

Since P-Value is <0.05, We REJECT NULL hypothesis and conclude that There is a Negative Correlation

In [33]:
print("Hypothesis 7\n Null hypothesis (H0) = YearsSinceLastPromotion and Attrition have no correlation\n Alternate hypothesis (H1) = YearsSinceLastPromotion and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.YearsSinceLastPromotion)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 7
 Null hypothesis (H0) = YearsSinceLastPromotion and Attrition have no correlation
 Alternate hypothesis (H1) = YearsSinceLastPromotion and Attrition have a correlation between them

Correlation Coefficient: -0.03301877514258437    P-Value: 0.028330336189396753

Since P-Value is <0.05, We REJECT NULL hypothesis and conclude that There is a Negative Correlation

In [35]:
print("Hypothesis 8\n Null hypothesis (H0) = YearsWithCurrManager and Attrition have no correlation\n Alternate hypothesis (H1) = YearsWithCurrManager and Attrition have a correlation between them")
stats, p = pearsonr(df.Attrition, df.YearsWithCurrManager)
print("\nCorrelation Coefficient:",stats,"   P-Value:", p)
if p < 0.05:
    print("\nSince P-Value is <0.05, We REJECT NULL hypothesis and conclude that","There is a Negative Correlation" if stats < 0 else ",There is a Positive Correlation")
else:
    print("We ACCEPT NULL hypothesis and conclude that there is NO RELATION")

Hypothesis 8
 Null hypothesis (H0) = YearsWithCurrManager and Attrition have no correlation
 Alternate hypothesis (H1) = YearsWithCurrManager and Attrition have a correlation between them

Correlation Coefficient: -0.15619931590162806    P-Value: 1.7339322652900218e-25

Since P-Value is <0.05, We REJECT NULL hypothesis and conclude that There is a Negative Correlation