# DAY 6 - LetsUpgrade_AI-ML-DL_July2020

__Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google__

In [4]:
s= input('Enter your email address: ')
start = '@'
end = '.'
print((s.split(start))[1].split(end)[0])

Enter your email address: nivitashetty7@gmail.com
gmail

__Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world__

In [11]:
x= input('Enter your words: ')
x=x.split(",")
x=sorted(x)
print(",".join(x))

Enter your words: without,hello,bag,world
bag,hello,without,world

__Question 3: Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp__

Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
__Method	                      Description__
add()	                          Adds an element to the set
clear()	                          Removes all the elements from the set
copy()	                          Returns a copy of the set
difference()	                  Returns a set containing the difference between two or more sets
difference_update()               Removes the items in this set that are also included in another, specified set
discard()	                      Remove the specified item
intersection()	                  Returns a set, that is the intersection of two other sets
intersection_update()	          Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	                  Returns whether two sets have a intersection or not
issubset()	                      Returns whether another set contains this set or not
issuperset()	                  Returns whether this set contains another set or not
pop()	                          Removes an element from the set
remove()	                      Removes the specified element
symmetric_difference()	          Returns a set with the symmetric differences of two sets
symmetric_difference_update()	  inserts the symmetric differences from this set and another
union()	                          Return a set containing the union of sets
update()	                      Update the set with the union of this set and others

In [13]:
st={1.0, "Hello", (1, 2, 3),'a',5,'Rue'}
st

{(1, 2, 3), 1.0, 5, 'Hello', 'Rue', 'a'}

In [14]:
#appends that input value in the set
st.add(4)
st

{(1, 2, 3), 1.0, 4, 5, 'Hello', 'Rue', 'a'}

In [15]:
#clears the whole set
st.clear()
st

set()

In [16]:
#copies the values to new set
st={1.0, "Hello", (1, 2, 3),'a',5,'Rue'}
new_st=st.copy()
new_st

{(1, 2, 3), 1.0, 5, 'Hello', 'Rue', 'a'}

In [17]:
#returns the set difference of two sets(elements that exists in first set and not in input set)
st2={1.0, "Hello", (1, 5, 3),'a',7,'Rue'}
st.difference(st2)

{(1, 2, 3), 5}

In [18]:
st={1.0, "Hello", (1, 2, 3),'a',5,'Rue'}
st

{(1, 2, 3), 1.0, 5, 'Hello', 'Rue', 'a'}

In [ ]:
#upadtes the set with the difference
st.difference_update(st2)
st

In [19]:
st={1.0, "Hello", (1, 2, 3),'a',5,'Rue'}
#removes the input element from the set
st.discard(1)
st

{(1, 2, 3), 5, 'Hello', 'Rue', 'a'}

In [20]:
#gets the common elements
st.intersection(st2)
st

{(1, 2, 3), 5, 'Hello', 'Rue', 'a'}

In [21]:
#updates the original set with intersection elements
st.intersection_update(st2)
st

{'Hello', 'Rue', 'a'}

In [23]:
st={1.0, "Hello", (1, 2, 3),'a',5,'Rue'}

In [24]:
#Returns TRUE if both sets are disjoint sets, else returns FALSE
st.isdisjoint(st2)
st

{(1, 2, 3), 1.0, 5, 'Hello', 'Rue', 'a'}

In [25]:
#returns True if all elements of a set are present in another set (passed as an argument). If not, returns False
st.issubset(st2)
st

{(1, 2, 3), 1.0, 5, 'Hello', 'Rue', 'a'}

In [26]:
#returns True if a set has every elements of another set (passed as an argument). If not, it returns False
st.issuperset(st2)

False

In [27]:
#discards a random element
st.pop()

1.0

In [28]:
#removes the input element from the set
st.remove(5)
st

{(1, 2, 3), 'Hello', 'Rue', 'a'}

In [29]:
#Returns the elemnent from both the sets which are not in their intersection
st.symmetric_difference(st2)

{(1, 2, 3), (1, 5, 3), 1.0, 7}

In [30]:
#updates the set with its symmetric diff
st.symmetric_difference_update(st2)
st

{(1, 2, 3), (1, 5, 3), 1.0, 7}

In [31]:
#union of both the sets
st.union(st2)

{(1, 2, 3), (1, 5, 3), 1.0, 7, 'Hello', 'Rue', 'a'}

In [32]:
#updates the set with the input value
st.update({'Pro'})
st

{(1, 2, 3), (1, 5, 3), 1.0, 7, 'Pro'}

__Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input__

In [7]:
a= input('Enter your range of numbers sepearted by space: ')
x= a.split()
n = len(x) 
total = (n + 1)*(n + 2)/2
sum1 = 0
for num in x:
    sum1 += int(num)
print(int(total - sum1))

Enter your range of numbers sepearted by space: 1 2 4 6 3 7 8
5

__Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35__

In [9]:
a= input('Enter your range of numbers sepearted by space: ')
x= a.split()
final_list = [] 
for num in x: 
    if num not in final_list: 
        final_list.append(num) 
print(final_list)

Enter your range of numbers sepearted by space: 12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '88', '120', '155']

# END